html,
body {
    height: 100%;
    background: #614051;
}

.left_col{
    background-color: #614051;
}

.nav_title {
    background: #614051;
}

body {
    background: #614051;
}
.nav.side-menu>li.active>a {
    text-shadow: rgba(0, 0, 0, 0.25) 0 -1px 0;
    background: linear-gradient(#3E1429, #482437), #614051;
    box-shadow: rgba(0, 0, 0, 0.25) 0 1px 0, inset rgba(255, 255, 255, 0.16) 0 1px 0
}
.sidebar-footer {
    bottom: 0px;
    clear: both;
    display: block;
    padding: 5px 0 0 0;
    position: fixed;
    width: 230px;
    background: #614051;
	z-index:999;
}